sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
	margin: 0 auto;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"KFPQND+CIDFont+F2";
	src:url("72ac085d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 2.000075em;
	font-family: "KFPQND+CIDFont+F2";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: 0.0037em;
}

.ie .stl_09 {
	letter-spacing: 0.12px;
}
.stl_10 {
	font-size: 1.25005em;
	font-family: "KFPQND+CIDFont+F2";
	color: #000000;
}
.stl_11 {
	letter-spacing: 0.0044em;
}

.ie .stl_11 {
	letter-spacing: 0.0889px;
}
@font-face {
	font-family:"RVOAWK+CIDFont+F3";
	src:url("3f13f5e0-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 2.000075em;
	font-family: "RVOAWK+CIDFont+F3";
	color: #000000;
}
.stl_13 {
	line-height: 1.107422em;
}
.stl_14 {
	letter-spacing: -0.0006em;
}

.ie .stl_14 {
	letter-spacing: -0.0195px;
}
.stl_15 {
	letter-spacing: 0em;
}

.ie .stl_15 {
	letter-spacing: 0px;
}
.stl_16 {
	letter-spacing: 0.004em;
}

.ie .stl_16 {
	letter-spacing: 0.128px;
}
@font-face {
	font-family:"AICOKF+CIDFont+F4";
	src:url("68fffba2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1.33005em;
	font-family: "AICOKF+CIDFont+F4", "Times New Roman";
	color: #000000;
}
.stl_18 {
	line-height: 1.05em;
}
.stl_19 {
	letter-spacing: 0.0014em;
}

.ie .stl_19 {
	letter-spacing: 0.0304px;
}
@font-face {
	font-family:"RDVLHB+CIDFont+F6";
	src:url("435a5ceb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 1.33005em;
	font-family: "RDVLHB+CIDFont+F6";
	color: #000000;
}
.stl_21 {
	line-height: 1.117188em;
}
.stl_22 {
	letter-spacing: -0.0002em;
}

.ie .stl_22 {
	letter-spacing: -0.0032px;
}
.stl_23 {
	font-size: 1.33005em;
	font-family: "KFPQND+CIDFont+F2";
	color: #000000;
}
.stl_24 {
	font-size: 1.830069em;
	font-family: "KFPQND+CIDFont+F2";
	color: #000000;
}
@font-face {
	font-family:"HNOKHD+CIDFont+F1";
	src:url("80af97d9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.880031em;
	font-family: "HNOKHD+CIDFont+F1";
	color: #000000;
}
@font-face {
	font-family:"EMLMAC+CIDFont+F7";
	src:url("3fe17f9a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.880031em;
	font-family: "EMLMAC+CIDFont+F7", "Times New Roman";
	color: #000000;
}
.stl_27 {
	letter-spacing: -0.0061em;
}

.ie .stl_27 {
	letter-spacing: -0.0853px;
}
.stl_28 {
	letter-spacing: 0.0005em;
}

.ie .stl_28 {
	letter-spacing: 0.0064px;
}
.stl_29 {
	letter-spacing: -0.0049em;
}

.ie .stl_29 {
	letter-spacing: -0.0683px;
}
.stl_30 {
	letter-spacing: -0.003em;
}

.ie .stl_30 {
	letter-spacing: -0.0425px;
}
.stl_31 {
	font-size: 1.830069em;
	font-family: "RVOAWK+CIDFont+F3";
	color: #000000;
}
.stl_32 {
	letter-spacing: 0.005em;
}

.ie .stl_32 {
	letter-spacing: 0.1464px;
}
.stl_33 {
	font-size: 1.000038em;
	font-family: "HNOKHD+CIDFont+F1";
	color: #000000;
}
.stl_34 {
	letter-spacing: -0.0001em;
}

.ie .stl_34 {
	letter-spacing: -0.0018px;
}
.stl_35 {
	font-size: 1.000038em;
	font-family: "EMLMAC+CIDFont+F7", "Times New Roman";
	color: #000000;
}
.stl_36 {
	letter-spacing: -0.2em;
}

.ie .stl_36 {
	letter-spacing: -3.2001px;
}
.stl_37 {
	letter-spacing: -0.39em;
}

.ie .stl_37 {
	letter-spacing: -6.2402px;
}
@font-face {
	font-family:"DUEUFO+CIDFont+F9";
	src:url("03d280eb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 1.170044em;
	font-family: "DUEUFO+CIDFont+F9", "Times New Roman";
	color: #000000;
}
.stl_39 {
	line-height: 1.109863em;
}
.stl_40 {
	font-size: 1.170044em;
	font-family: "KFPQND+CIDFont+F2";
	color: #000000;
}
.stl_41 {
	letter-spacing: 0.0025em;
}

.ie .stl_41 {
	letter-spacing: 0.0468px;
}
.stl_42 {
	letter-spacing: -0.0007em;
}

.ie .stl_42 {
	letter-spacing: -0.0117px;
}
.stl_43 {
	letter-spacing: 0.0004em;
}

.ie .stl_43 {
	letter-spacing: 0.0066px;
}
.stl_44 {
	letter-spacing: 0.0008em;
}

.ie .stl_44 {
	letter-spacing: 0.0133px;
}
.stl_45 {
	letter-spacing: 0.0144em;
}

.ie .stl_45 {
	letter-spacing: 0.2311px;
}
.stl_46 {
	letter-spacing: -0.49em;
}

.ie .stl_46 {
	letter-spacing: -7.8403px;
}
.stl_47 {
	letter-spacing: -0.48em;
}

.ie .stl_47 {
	letter-spacing: -7.6803px;
}
.stl_48 {
	letter-spacing: 0.01em;
}

.ie .stl_48 {
	letter-spacing: 0.16px;
}
.stl_49 {
	letter-spacing: 0.0153em;
}

.ie .stl_49 {
	letter-spacing: 0.2442px;
}
.stl_50 {
	letter-spacing: -0.11em;
}

.ie .stl_50 {
	letter-spacing: -1.7601px;
}
.stl_51 {
	letter-spacing: 0.0022em;
}

.ie .stl_51 {
	letter-spacing: 0.0345px;
}
.stl_52 {
	letter-spacing: 0.001em;
}

.ie .stl_52 {
	letter-spacing: 0.016px;
}
.stl_53 {
	letter-spacing: -0.5em;
}

.ie .stl_53 {
	letter-spacing: -8.0003px;
}
.stl_54 {
	letter-spacing: -0.61em;
}

.ie .stl_54 {
	letter-spacing: -9.7604px;
}
.stl_55 {
	letter-spacing: -0.0013em;
}

.ie .stl_55 {
	letter-spacing: -0.0213px;
}
.stl_56 {
	letter-spacing: 0.0033em;
}

.ie .stl_56 {
	letter-spacing: 0.0624px;
}
.stl_57 {
	letter-spacing: -0.0004em;
}

.ie .stl_57 {
	letter-spacing: -0.0063px;
}
@font-face {
	font-family:"DGAKOF+CIDFont+F10";
	src:url("178bddca-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_58 {
	font-size: 1.170044em;
	font-family: "DGAKOF+CIDFont+F10";
	color: #000000;
}
.stl_59 {
	line-height: 1.172363em;
}
.stl_60 {
	letter-spacing: -0.0003em;
}

.ie .stl_60 {
	letter-spacing: -0.0058px;
}
.stl_61 {
	font-size: 1.000038em;
	font-family: "HNOKHD+CIDFont+F1";
	color: #0000FF;
}
.stl_62 {
	letter-spacing: -0.0053em;
}

.ie .stl_62 {
	letter-spacing: -0.0841px;
}
.stl_63 {
	letter-spacing: 0.0015em;
}

.ie .stl_63 {
	letter-spacing: 0.0235px;
}
.stl_64 {
	letter-spacing: -0.0048em;
}

.ie .stl_64 {
	letter-spacing: -0.077px;
}
.stl_65 {
	letter-spacing: -0.0008em;
}

.ie .stl_65 {
	letter-spacing: -0.0134px;
}
.stl_66 {
	font-size: 0.880031em;
	font-family: "HNOKHD+CIDFont+F1";
	color: #0000FF;
}
.stl_67 {
	letter-spacing: -0.0072em;
}

.ie .stl_67 {
	letter-spacing: -0.1014px;
}
.stl_68 {
	font-size: 0.750031em;
	font-family: "HNOKHD+CIDFont+F1";
	color: #000000;
}
.stl_69 {
	letter-spacing: 0.0126em;
}

.ie .stl_69 {
	letter-spacing: 0.2015px;
}
.stl_70 {
	letter-spacing: -0.005em;
}

.ie .stl_70 {
	letter-spacing: -0.0806px;
}
.stl_71 {
	letter-spacing: -0.21em;
}

.ie .stl_71 {
	letter-spacing: -3.3601px;
}
.stl_72 {
	letter-spacing: -0.0023em;
}

.ie .stl_72 {
	letter-spacing: -0.0369px;
}
.stl_73 {
	letter-spacing: -0.0022em;
}

.ie .stl_73 {
	letter-spacing: -0.0357px;
}
.stl_74 {
	letter-spacing: 0.0009em;
}

.ie .stl_74 {
	letter-spacing: 0.0146px;
}
.stl_75 {
	letter-spacing: 0.002em;
}

.ie .stl_75 {
	letter-spacing: 0.0374px;
}
.stl_76 {
	letter-spacing: 0.0028em;
}

.ie .stl_76 {
	letter-spacing: 0.045px;
}
.stl_77 {
	letter-spacing: -0.13em;
}

.ie .stl_77 {
	letter-spacing: -2.0801px;
}
.stl_78 {
	letter-spacing: -0.0044em;
}

.ie .stl_78 {
	letter-spacing: -0.07px;
}
.stl_79 {
	letter-spacing: -0.14em;
}

.ie .stl_79 {
	letter-spacing: -2.2401px;
}
.stl_80 {
	letter-spacing: -0.04em;
}

.ie .stl_80 {
	letter-spacing: -0.64px;
}
.stl_81 {
	letter-spacing: -0.0014em;
}

.ie .stl_81 {
	letter-spacing: -0.0217px;
}
.stl_82 {
	letter-spacing: -0.0092em;
}

.ie .stl_82 {
	letter-spacing: -0.1477px;
}
.stl_83 {
	letter-spacing: 0.007em;
}

.ie .stl_83 {
	letter-spacing: 0.1117px;
}
.stl_84 {
	letter-spacing: 0.0026em;
}

.ie .stl_84 {
	letter-spacing: 0.0424px;
}
.stl_85 {
	letter-spacing: 0.02em;
}

.ie .stl_85 {
	letter-spacing: 0.32px;
}
.stl_86 {
	letter-spacing: -0.0068em;
}

.ie .stl_86 {
	letter-spacing: -0.1087px;
}
.stl_87 {
	letter-spacing: -0.0142em;
}

.ie .stl_87 {
	letter-spacing: -0.2274px;
}
.stl_88 {
	letter-spacing: 0.0013em;
}

.ie .stl_88 {
	letter-spacing: 0.0234px;
}
.stl_89 {
	letter-spacing: -0.0179em;
}

.ie .stl_89 {
	letter-spacing: -0.2857px;
}
.stl_90 {
	letter-spacing: -0.0057em;
}

.ie .stl_90 {
	letter-spacing: -0.0914px;
}
.stl_91 {
	letter-spacing: -0.22em;
}

.ie .stl_91 {
	letter-spacing: -3.5201px;
}
.stl_92 {
	letter-spacing: -0.1em;
}

.ie .stl_92 {
	letter-spacing: -1.6001px;
}
.stl_93 {
	letter-spacing: -0.017em;
}

.ie .stl_93 {
	letter-spacing: -0.272px;
}
.stl_94 {
	letter-spacing: 0.0017em;
}

.ie .stl_94 {
	letter-spacing: 0.0267px;
}
.stl_95 {
	letter-spacing: 0.0006em;
}

.ie .stl_95 {
	letter-spacing: 0.0092px;
}
.stl_96 {
	letter-spacing: 0.0023em;
}

.ie .stl_96 {
	letter-spacing: 0.0373px;
}
.stl_97 {
	letter-spacing: 0.0027em;
}

.ie .stl_97 {
	letter-spacing: 0.0424px;
}
.stl_98 {
	letter-spacing: -0.28em;
}

.ie .stl_98 {
	letter-spacing: -4.4802px;
}
.stl_99 {
	letter-spacing: -0.03em;
}

.ie .stl_99 {
	letter-spacing: -0.36px;
}
.stl_100 {
	letter-spacing: -0.0133em;
}

.ie .stl_100 {
	letter-spacing: -0.2134px;
}
.stl_101 {
	letter-spacing: -0.018em;
}

.ie .stl_101 {
	letter-spacing: -0.288px;
}
.stl_102 {
	letter-spacing: -0.0027em;
}

.ie .stl_102 {
	letter-spacing: -0.0434px;
}
.stl_103 {
	letter-spacing: -0.015em;
}

.ie .stl_103 {
	letter-spacing: -0.24px;
}
.stl_104 {
	letter-spacing: -0.001em;
}

.ie .stl_104 {
	letter-spacing: -0.0154px;
}
.stl_105 {
	letter-spacing: 0.0003em;
}

.ie .stl_105 {
	letter-spacing: 0.0049px;
}
.stl_106 {
	letter-spacing: -0.0024em;
}

.ie .stl_106 {
	letter-spacing: -0.0381px;
}
.stl_107 {
	letter-spacing: 0.0012em;
}

.ie .stl_107 {
	letter-spacing: 0.0266px;
}
.stl_108 {
	font-size: 1.000038em;
	font-family: "DUEUFO+CIDFont+F9", "Times New Roman";
	color: #000000;
}
.stl_109 {
	letter-spacing: -0.23em;
}

.ie .stl_109 {
	letter-spacing: -3.6802px;
}
.stl_110 {
	letter-spacing: 0.003em;
}

.ie .stl_110 {
	letter-spacing: 0.048px;
}
